<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaPresentacion.Properties.Settings.BDTallerMecanicoConnectionString"
            connectionString="Data Source=DESKTOP-EO71RE8;Initial Catalog=BDTallerMecanico;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="capaPresentacion.Properties.Settings.BDTallerMecanicoConnectionString_GONZALO"
            connectionString="Data Source=MSI;Initial Catalog=BDTallerMecanico;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>